@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer {
    background-color: v.$negro;
    color: v.$blanco;
    display: grid;
    place-content: center;
    height: 7rem;
    width: 100%;
    p {
        text-align: center;
    }

    span {
        font-weight: v.$bold;
    }
}